.ArticlePage {
    overflow-x: hidden;
    margin: 0 var(--side-margin);
}

.ArticlePage .root-content h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

.ArticlePage .root-content h2 {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bolder;
}

.ArticlePage .Internals {
    display: block;
    font-size: 0.8rem;
    font-family: monospace;
}

.ArticlePage .Internals .MattersOrigin {
    font-size: 1rem;
}

.ArticlePage .Internals {
    display: block;
    font-size: 0.8rem;
    font-family: monospace;
}

.ArticlePage .ArticleDevInfo {
    max-height: 20vh;
    overflow: scroll;
}

.ArticlePage .CommentSection {
    font-size: 0.9rem;
}

.ArticlePage .root-content {
    margin: 1rem 0;
}

