.CommentTree {
    position: relative;
    border-top: 1px solid #ccc;
    overflow: hidden;
    --second-level-tree-indent: 2em;
}

.CommentTree .CommentScrollAnchor {
    position: absolute;
    top: calc(var(--top-bar-height) * -1);
}


.CommentTree .DisplayModeButton {
    display: inline-block;
    margin: 0 0 0.5rem;
}

.CommentTree .DisplayModeButton.indent {
    margin-left: var(--second-level-tree-indent);
}


.CommentTree[data-level="1"]:first-of-type {
    border-top: 0;
}

.CommentTree[data-level="2"] {
    margin-left: var(--second-level-tree-indent);
}

