.CommentTree {
    position: relative;
    border-top: 1px solid #ccc;
    overflow: hidden;
    --comment-indent: 1em;
    --secondary-comment-indent: 2em;
}

.CommentTree .CommentScrollAnchor {
    position: absolute;
    top: calc(var(--top-bar-height) * -1);
}

.CommentTree .HtmlRender p  {
    text-indent: 0;
}

.CommentTree .HtmlRender blockquote,
.CommentTree .HtmlRender ol
{
    margin-left: 0;
}

.CommentTree [data-prefer-indent="true"] .HtmlRender p {
    text-indent: var(--comment-indent);
}

.CommentTree [data-prefer-indent="true"] .HtmlRender blockquote {
    margin-left: var(--comment-indent);
}

.CommentTree .DisplayModeButton {
    display: inline-block;
    margin: 0 0 0.5rem;
}

.CommentTree .DisplayModeButton.indent {
    margin-left: var(--secondary-comment-indent);
}


.CommentTree[data-level="1"]:first-of-type {
    border-top: 0;
}

.CommentTree[data-level="2"] {
    margin-left: var(--secondary-comment-indent);
}

