.AssortmentPage {
    margin: 0 var(--side-margin);
}

.AssortmentPage .CollectionByline {
    font-size: 0.9em;
    color: #888;
}

.AssortmentPage h1 .AnchorButton {
    font-size: 1rem;
}

.AssortmentPage .AssortmentCard {
    border: 1px solid black;
    margin: 0.5rem 0;
}