.UserPage {
    margin: 0 var(--side-margin);
}

.UserPage .Description {
    white-space: pre-wrap;
}

.UserPage .HtmlRender {
    --base-left-offset: 0;

}

.UserPage .TabChooser {
    font-size: 1.5rem;
}
