server {
    listen 80 default_server;
    server_name www.maltaa.org maltaa.org;
    return 301 https://maltaa.org$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name www.maltaa.org;

    ssl_certificate /etc/letsencrypt/live/maltaa.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/maltaa.org/privkey.pem;

    return 301 https://maltaa.org$request_uri;
}

limit_req_zone $binary_remote_addr zone=static:4m rate=4r/s;
limit_req_zone $binary_remote_addr zone=api:4m rate=4r/s;

server {
    server_name maltaa.org;
    root /var/maltaa/web;

    location / {
        include /etc/nginx/web_headers.nginx;
        expires off;
        limit_req zone=static burst=5 nodelay;
        try_files $uri $uri/ /index.html;
    }
    location /api {
        include /etc/nginx/headers.nginx;
        expires off;
        limit_req zone=api burst=10 delay=5;
        proxy_pass http://localhost:2000;
    }

    location ~ \.(js|css)$ {
        include /etc/nginx/headers.nginx;
        expires 1000d;
        add_header Pragma public;
        limit_req zone=static burst=5 nodelay;
        add_header Cache-Control "public";
    }

    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/maltaa.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/maltaa.org/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

