include /etc/nginx/headers.nginx;
add_header Content-Security-Policy "default-src 'self'; img-src assets.matters.news";
add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
add_header X-XSS-Protection "1; mode=block" always;
add_header X-Content-Type-Options "nosniff" always;
add_header Referrer-Policy no-referrer;
add_header Feature-Policy "microphone 'none'; geolocation 'none'; camera 'none'";
